
.p {
	font-family: "Roboto Light";
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.5px;
}
.span {
	font-family: "Roboto Thin";
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.25px;
}
